#fnpmapejgepknmmkciiclcloomblhopm { 
  visibility: hidden; 
  position: absolute; 
  left: 0px; 
  top: 0px; 
  width:100%; 
  height:100%; 
  text-align:center; 
  z-index: 9999; 
  background-color: rgba(0,0,0,0.8);
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
}

#fnpmapejgepknmmkciiclcloomblhopm > div { 
  padding:15px; 
  margin: 0 auto; 
}

#fnpmapejgepknmmkciiclcloomblhopm canvas {
  background-color: #2981e4;
  border-radius: 5px;
}

#fnpmapejgepknmmkciiclcloomblhopm h1 {
  margin: 0;
  padding: 10px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_area {
  padding: 20px;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_preview {
  width: 580px;
  margin: 0 auto; 
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.28, rgba(168,168,168,0.9)),
    color-stop(0.48, rgba(120,120,120,0.9)),
    color-stop(0.1, rgba(168,168,168,0.9))
  );
  border-radius: 20px;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_options {
  padding-top: 10px;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_buttons {
  padding: 20px;
  text-align: center;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_stretchButton,
#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_tileButton,
#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_centerButton,
#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_fitButton,
#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_fillButton {
  background-repeat: no-repeat;
  background-position: 10px 8px;
}


#fnpmapejgepknmmkciiclcloomblhopm .crx_wlp_button,
#fnpmapejgepknmmkciiclcloomblhopm .crx_wlp_button:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  padding: 8px 14px 9px; 
  font-weight: bold; 
  font-size: 14px; 
  line-height: 1;
}

#fnpmapejgepknmmkciiclcloomblhopm .green.crx_wlp_button, 
#fnpmapejgepknmmkciiclcloomblhopm .green.crx_wlp_button:visited  { 
  background-color: #91bd09;
}

#fnpmapejgepknmmkciiclcloomblhopm .green.crx_wlp_button:hover { 
  background-color: #749a02;
}

#fnpmapejgepknmmkciiclcloomblhopm .yellow.crx_wlp_button, 
#fnpmapejgepknmmkciiclcloomblhopm .yellow.crx_wlp_button:visited  {
  background-color: #ffb515;
}

#fnpmapejgepknmmkciiclcloomblhopm .yellow.crx_wlp_button:hover {
  background-color: #fc9200;
}

#fnpmapejgepknmmkciiclcloomblhopm .orange.crx_wlp_button, 
#fnpmapejgepknmmkciiclcloomblhopm .yellow.crx_wlp_button:visited  {
  background-color: #ff5c00;
}

#fnpmapejgepknmmkciiclcloomblhopm .orange.crx_wlp_button:hover {
  background-color: #d45500;
}

#fnpmapejgepknmmkciiclcloomblhopm ul {
  margin: 0;
  padding: 0;
}

#fnpmapejgepknmmkciiclcloomblhopm ul li {
  cursor: pointer;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  width: 75px;
  color: #fff;
  padding: 10px 0px 10px 90px;
}

#fnpmapejgepknmmkciiclcloomblhopm ul li.selected {
  border-radius: 15px;
  background-color: #ddd; 
  color: #000;
}

#fnpmapejgepknmmkciiclcloomblhopm ul li:hover {
  border-radius: 15px;
  background: #ccc; 
  color: #000;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_tweet {
  font-size: 0.7em;
  margin: 10px;
}

#fnpmapejgepknmmkciiclcloomblhopm #crx_wlp_tweet a {
  color: #fff;
}