@import url("overlay.css");
#crx_wlp { 
  visibility: visible; 
}

#crx_wlp_stretchButton {
  background-image: url('/img/stretch.png');
}

#crx_wlp_tileButton {
  background-image: url('/img/tile.png');
}

#crx_wlp_centerButton {
  background-image: url('/img/center.png');
}

#crx_wlp_fillButton {
  background-image: url('/img/fill.png');
}

#crx_wlp_fitButton {
  background-image: url('/img/fit.png');
}