html {
  background: #434343;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px; 
  margin-left: -300px; 
  width: 600px;
  height: 600px;
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
}

canvas {
  background-color: #2981e4;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px #000;
  border: 20px solid #000;
}

h1 {
  margin: 0;
  padding: 10px;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  height: 57px;
  display: inline-block;
  line-height: 57px;
  width: 100px;
  padding: 10px 0px 10px 90px;
}

#stretchButton {
  background-image: url(/img/stretch.jpg);
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

#tileButton {
  background-image: url(/img/tile.jpg);
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

#centerButton {
  background-image: url(/img/center.jpg);
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

ul li.selected {
  border-radius: 15px;
  background-color: #ddd; 
}

ul li:hover {
  border-radius: 15px;
  background: #ccc; 
}

.button, .button:visited {
  background: #222 url(/img/overlay.png) repeat-x;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  padding: 8px 14px 9px; 
  font-weight: bold; 
  font-size: 14px; 
  line-height: 1;
}

.green.button, .green.button:visited  { 
  background-color: #91bd09;
}

.green.button:hover { 
  background-color: #749a02;
}

.yellow.button, .yellow.button:visited  {
  background-color: #ffb515;
}

.yellow.button:hover {
  background-color: #fc9200;
}

.orange.button, .yellow.button:visited  {
  background-color: #ff5c00;
}

.orange.button:hover {
  background-color: #d45500;
}

#area {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
}

#options {
  padding-top: 10px;
}

#buttons {
  padding: 20px;
  text-align: center;
}